.page-container {
    margin: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    width: 500px;
    background: #f3f0ff;
    box-shadow: 0 3px 6px #7950f2, 0 3px 6px #7950f2;
    
    @media(max-width: 768px) {
      width: calc(100% - 5rem);
    }
  
    h2 {
      text-align: center;
      margin: 0;
    }
  
    .content {
      margin-top: 3rem;
    }
  }